*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-color: #999;
    position: relative;
}
.home .heading{
    margin-bottom: 30px;
    margin-left: 20px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container .cardlist{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.developer{
    text-align: center;
}